.sign-in-input {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --bg-opacity: 1;
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    border: 1px solid #dededf;
    box-shadow: 0 1px 4px rgba(63, 63, 68, 0.1);
    border-radius: 4px;
    padding: 13px 16px;
    width: 100%;
    outline: none;
    transition: 0.2s ease-in-out;
    font-size: 14px;
    background: #fff;
}

.sign-in-input:focus {
    border: 1px solid #00bfff !important;
    transition: 0.2s ease-in-out;
}

.input-label {
    padding: 5px;
    background: #fff;
    font-size: 12px;
    z-index: 10;
    left: 15px;
    bottom: 35px;
    color: #7a809b;
}

.btn {
    padding: 9px 16px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

.loginForm {
        line-height: 1.5;
    word-spacing: 1px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #8a6411;
    font-size: 16px;
    font-family: Avenir-next-medium;
    --bg-opacity: 1;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
    border: 1px solid #dededf;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(63,63,68,.1);
    padding: 27px 12px;
}

.pinlogin .pinlogin-field {
    box-sizing: border-box;
    display: inline-block;
    width: 40px !important;
    height: 40px;
    padding: 0 !important;
    margin: 0 5px;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    color: black;
    /* background: inherit; */
}

.pinlogin .pinlogin-field:focus{
    background: white;
}

.pinlogin{
    display: flex;
    justify-content: center;
    row-gap: 1rem;
    flex-wrap: wrap;
    margin: 3rem 0;
}