.sign-in-input {
   
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    box-shadow: 0 1px 4px rgba(63, 63, 68, 0.1);
    width: 100%;
    outline: none;
    transition: 0.2s ease-in-out;
    font-size: 14px;
    background: #fff;

        border: 2px solid rgb(188, 202, 216);
    border-radius: 8px;
   
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.input-box{
    padding-bottom: 32px;
    padding-top: 8px;
    position: relative;
}

.sign-in-input:focus {
    border: 1px solid black !important;
    transition: 0.2s ease-in-out;
}

.input-label {
    padding: 5px;
    background: #fff;
    font-size: 12px;
    z-index: 10;
    left: 15px;
    bottom: 35px;
    color: #7a809b;
}

.btn {
    padding: 9px 16px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}


.pinlogin .pinlogin-field {
    box-sizing: border-box;
    display: inline-block;
    width: 40px !important;
    height: 40px;
    padding: 0 !important;
    margin: 0 5px;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    color: black;
    /* background: inherit; */
}

.pinlogin .pinlogin-field:focus{
    background: white;
}

.pinlogin{
    display: flex;
    justify-content: center;
    row-gap: 1rem;
    flex-wrap: wrap;
    margin: 3rem 0;
}