.sign-in-input {
   
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    width: 100%;
    outline: none;
    transition: 0.2s ease-in-out;
    font-size: 14px;
    background: #fff;
    padding: 12px 14px;

    border: 2px solid rgb(188, 202, 216);
    border-radius: 8px;
   
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.input-box{
    padding-bottom: 32px;
    padding-top: 8px;
    position: relative;
}

.sign-in-input:focus {
    border: 2px solid rgb(61, 74, 91);
    transition: 0.2s ease-in-out;

}

.sign-in-input:focus + .input-label{
    
    color: #3d4a5b !important;
}



.input-label {
    color: #68778d;
    font-family: proxima-nova;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    left: 8px;
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px 8px;
    z-index: 1;
    background-color: transparent;
    font-weight: 600;
    transition: color 0.3s ease-in-out 0s;
}

.input-label::before{
        content: "";
    border-top: 2px solid rgb(255, 255, 255);
    left: 0px;
    right: 0px;
    position: absolute;
    top: 8px;
    z-index: -1;
}

.btn {
    padding: 9px 16px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}


.pinlogin .pinlogin-field {
    box-sizing: border-box;
    display: inline-block;
    width: 40px !important;
    height: 40px;
    padding: 0 !important;
    margin: 0 5px;
    border: 2px solid #ccc;

    border-radius: 2px;
    text-align: center;
    color: black;
}

.pinlogin .pinlogin-field:focus{
    background: white;
}

.pinlogin{
    display: flex;
    justify-content: center;
    row-gap: 1rem;
    flex-wrap: wrap;
    margin: 3rem 0;
}