@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer base {
    body {
        @apply bg-[#005674] text-white;
        @apply font-AvenirMedium
    }

  
    @font-face {
        font-family: ProximaNovaMedium;
        src: url(../assets/fonts/ProximaNova-Bold.otf);
    }
    @font-face {
        font-family: ProximaNovaRegular;
        src: url(../assets/fonts/ProximaNova-Regular.otf);
    }
   

    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}
